/*переменные с цветами*/

//цвет некрупных текстовых блоков
$white: #ffffff;
$lightgreen: #63d1bb;
$darkgreen: #56c3b2;
$lightgray: #f1f1f1;
$darkgray: #e5e5e5;
$lightblack: #444444;
$darkblack: #000000;


/*переменные с шириной экрана*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$tablet-width-only: 1200px;

/*переменная для ретинизации*/
$retina-dppx: 1.5dppx;
